.divAllParent {
    width: 960;
    margin-left: auto;
    margin-right: auto;
}

.divHeadMenu {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
}
.divHeadMenuButtonCasing{
    width: 236;
    height: 50;
    margin: 2px 2px 2px 2px;
    background-color: #666;
}
.divHeadMenuButtonHome {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    color: #f9e6ff;
}

.divHeadMenuButtonCharacter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    color: #e6fff0;
}

.divHeadMenuButtonRule {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    color: #fff9e6;
}

.divHeadMenuButtonDistribute {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    color: #e6f0ff;
}

.divMain{
    width: 960;
    margin-left: auto;
    margin-right: auto;
}

.divRuleObj{
    padding-left: 25px;
    padding-bottom: 10px;
}
small{
    color: #bbb;
}
.divDistributeContainerItem{
    background-color: #ffffff;
    padding-left: 5px;
    margin-left: 50px;
}
.divDistributeContainerMYCOE{
    width: 960;
    background-color: #ddeeff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.divDistributeContainerUTAU{
    width: 960;
    background-color: #eeddff;
    margin-top: 10px;
    margin-bottom: 10px;
}
