.divAllParent {
	width: 960;
	margin-left: auto;
	margin-right: auto;
}

.divHeadMenu {
	display: flex;
	justify-content: space-around;
	background-color: #eee;
}
.divHeadMenuButtonCasing{
	width: 236;
	height: 50;
	margin: 2px 2px 2px 2px;
	background-color: #666;
}
.divHeadMenuButtonHome {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 32px;
	color: #f9e6ff;
}

.divHeadMenuButtonCharacter {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 32px;
	color: #e6fff0;
}

.divHeadMenuButtonRule {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 32px;
	color: #fff9e6;
}

.divHeadMenuButtonDistribute {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 32px;
	color: #e6f0ff;
}

.divMain{
	width: 960;
	margin-left: auto;
	margin-right: auto;
}

.divIndexMain{
	text-align: center;
	width: 960;
	margin-left: auto;
	margin-right: auto;
}

.divIndexSignatCasing{
	display: flex;
	justify-content: space-around;
	text-align: center;
	width: 960;
	margin-left: auto;
	margin-right: auto;
}

.divIndexSignatTitle{
	text-align: right;
	width: 90;
	margin-left: auto;
	margin-right: auto;
}

.divIndexSignat{
	text-align: left;
	width: 350;
	margin-left: auto;
	margin-right: auto;
}

.divIndexSignatSpacer{
	width: 520;
}

.spanRedColor{
	color: #f8472c;
}

.divRuleObj{
	padding-left: 25px;
	padding-bottom: 10px;
}

.spanRuleRed{
	color: #cc0000;
}

.spanRulePink{
	color: #ff00bb;
}

small{
	color: #bbb;
}

.divDistributeContainerItem{
	background-color: #ffffff;
	padding-left: 5px;
	margin-left: 50px;
}

.divDistributeContainerMYCOE{
	width: 960;
	background-color: #ddeeff;
	margin-top: 10px;
	margin-bottom: 10px;
}

.divDistributeContainerUTAU{
	width: 960;
	background-color: #eeddff;
	margin-top: 10px;
	margin-bottom: 10px;
}

.divDistributeContainerIllust{
	width: 960;
	background-color: #ddffee;
	margin-top: 10px;
	margin-bottom: 10px;
}

.divCharacterTieMain{
	width: 960;
	display: flex;
	justify-content: center;
	background-color: #def7ff;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.divCharacterTieContent{
	background-color: #f8fffe;
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.divCharacterDescription{
	width: 660;
}

.divCharacterDescription_scrt{
	width: 920;
}

.divCharacterDescriptionContent{
	margin-right: 0px;
	margin-left: 20px;
}

.divCharacterIllust{
	width: 250;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.spanCharacterDialogTie{
	color: #179983;
}

.spanCharacterDialogAzusa{
	color: #801bb3;
}

.aCharacterScrtTie{
	color: #0d4759;
	text-decoration:none;
}

.aCharacterScrtTie:link{
	color: #0d4759;
	text-decoration:none;
}

.aCharacterScrtTie:visited{
	color: #0d4759;
	text-decoration:none;
}

.aCharacterScrtTie:hover{
	color: #0d4759;
	text-decoration:none;
}

.aCharacterScrtTie:active{
	color: #0d4759;
	text-decoration:none;
}

.divCharacterScrtEndCasing{
	width: 920;
	padding-top: 10px;
	padding-bottom: 10px;
}

.divCharacterScrtEnd{
	width: 240;
	text-align: center;
	background-color: #def7ff;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ulNonPadding{
	margin-top: 0px;
	margin-bottom: 0px
	padding-top: 0px;
	padding-bottom: 0px
}

.divCharacterHiddenLinkCasing{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.divCharacterHiddenLink{
	width: 88;
	text-align: center;
	background-color: #f5fcff;
}

.aCharacterHiddenLink{
	color: #00000003;
	text-decoration:none;
}

.aCharacterHiddenLink:link{
	color: #00000002;
	text-decoration:none;
}

.aCharacterHiddenLink:visited{
	color: #00000010;
	text-decoration:none;
}

.aCharacterHiddenLink:hover{
	color: #00000006;
	text-decoration:none;
}

.aCharacterHiddenLink:active{
	color: #00000010;
	text-decoration:none;
}

/* ポップアップ用
 * 参考：https://qiita.com/katsutosakae/items/202baff9750ae6f9ecf5より
 */

.imgPopupAutoResizeH{
	max-height: 90vh;
	max-width: 90vw;
	object-fit: contain;
}

.labelBlue{
	color: #00f;
}

/*popup template design*/
.popup-background{
	/*position size*/
	position: fixed;
	z-index : 100;
	top : 0;
	left : 0;
	height : 100vh;
	width : 100vw;
	
	/*design*/
	background-color: gray;
	opacity : 0.5
}
.popup{
	/*position size*/
	--height : 96vh;
	--width : 96vw;
	z-index : 101;
	position: fixed;
	top : calc(50vh - calc(var(--height) / 2));
	left : calc(50vw - calc(var(--width) / 2));
	height : var(--height);
	width : var(--width);
	
	/*design*/
	overflow : hidden;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 1px gray;
}
.popup > .close-button{
	/*position size*/
	--size : 20px;
	position:absolute;
	top : calc(var(--size)/4);
	left : calc(var(--width) - var(--size) * 5/4);/*css variables are available in children*/
	height : var(--size);
	width : var(--size);
	
	/*design*/
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	color : gray;
	font-size: var(--size);
	border-radius: calc(var(--size)/5);
}
.popup > .close-button:hover{
	/*design*/
	background-color: red;
	color : white;
}
.popup > .content{
	padding: 10px;
	text-align: center;
}


/*hide popup*/
.popup-flag{
	display: none;
}
.popup-flag:not(:checked) + .popup-background{
	display:none;
}
.popup-flag:not(:checked) + * + .popup{
	display:none;
}
